<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Ticket Workflow Notifications</title>
    <style type="text/css">
      form#workflownotification div {
        padding-bottom: 8px;
      }
      form#workflownotification label span {
        display: inline-block;
        width: 10em;
        vertical-align: top;
      }
      form#workflownotification input:not([type]), form#workflownotification textarea {
        width: 60em;
      }
    </style>
  </head>
  <body>
    <h2>Ticket Workflow Notifications</h2>
    <form method="post">

      <table class="listing" id="workflownotificationlist">
        <thead>
          <tr><th class="sel">&nbsp;</th>
            <th>Name</th><th>Subject</th><th>Recipients</th><th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="name, rule in notifications.items()">
            <td class="sel"><input type="checkbox" name="sel" value="$name" /></td>
            <td class="name">
              <a href="${panel_href(name)}">$name</a>
            </td>
            <td class="subject">$rule.subject</td>
            <td class="recipients">${', '.join(rule.recipients)}</td>
            <td class="actions">${', '.join(rule.actions)}</td>
          </tr>
        </tbody>
      </table>
      
      <div class="buttons">
        <input type="submit" name="remove" value="Remove selected notification rules" />
      </div>
    </form>

    <hr />

    <h3>Add New Notification Rule</h3>
    <form id="workflownotification" method="post">

      <div>
        <label><span>Name:</span>
          <input name="name" value="$newrule.name" />
        </label>
      </div>
      <div>
        <label><span>Actions:</span>
          <input name="actions" value="${', '.join(newrule.actions)}" />
        </label>
      </div>
      <div>
        <label><span>Recipients:</span>
          <input name="recipients" value="${', '.join(newrule.recipients)}" />
        </label>
      </div>
      <div>
        <label><span>Condition:</span>
          <input name="condition" value="$newrule.condition" />
        </label>
      </div>
      <div>
        <label><span>Message subject:</span>
          <input name="subject" value="$newrule.subject" />
        </label>
      </div>
      <div>
        <label><span>Message body:</span>
          <textarea rows="8" name="body">$newrule.body</textarea>
        </label>
      </div>

      <input type="submit" name="add" value="Add new notification rule" />
    </form>
  </body>
</html>
